*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vh;
    height: 100vh;
    background-color: black;
}
h2{
    color: white;
    font-size: 5rem;
}
p{
    color: white;
    font-size: 3rem;
}